.picker-picker {

	@import 'bootstrap/bootstrap_custom';

	h1,h2,h3,h4,h5,h6 {
		padding-top: 0;
		margin-top: 0;
	}

	font-family: $fontFamily;

	padding: $pickerPadding;
	background: $colorWhite;
	@include border-radius($pickerRadius);
	@include box-shadow(0px 0px 20px 0px $colorBlackTransparent);
	@include box-sizing(border-box);

	//slide transition
	
	&.slide, &.slideDown {
		@include translate3d(0px, -1500px, 0px);
		@include transition(transform, 0.3s, ease);
	}

	&.slideUp {
		@include translate3d(0px, 3000px, 0px);
		@include transition(transform, 0.3s, ease);
	}

	&.slideLeft {
		@include translate3d(-2000px, 0px, 0px);
		@include transition(transform, 0.3s, ease);
	}

	&.slideRight {
		@include translate3d(2000px, 0px, 0px);
		@include transition(transform, 0.3s, ease);
	}

	&.fade {
		@include opacity(0);
		@include transition(opacity, 0.3s, ease);
	}
    &.visible {
    	@include translate3d(0px, 0px, 0px);
    	@include opacity(1);
	}

	.picker-close-button {
        @include absolute(5px, 8px);
        @include reset-margin-padding;
        @include font-size(10px);
        @include opacity($overlayOpacity);

        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        float: right;
        font-weight: bold;
        line-height: 20px;
        color: $colorBlack;
        text-shadow: 0 1px 0 #ffffff;

        &:hover {
            @include opacity($overlayOpacity + 0.3);
            color: $colorBlack;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .picker-footer {
    	text-align: center;
    	padding-top: 15px;
    }

}